[submodule "ElasticPowerTAC-Simulation-Config"]
	path = ElasticPowerTAC-Simulation-Config
	url = https://github.com/frankyn/ElasticPowerTAC-Simulation-Config.git
[submodule "server-distribution"]
	path = server-distribution
	url = https://github.com/powertac/server-distribution
